[submodule "vnd/jstemplate"]
  path = vnd/jstemplate
  url = git@github.com:gmesch/jstemplate.git
  branch = mesch-org
[submodule "vnd/jsaction"]
  path = vnd/jsaction
  url = git@github.com:gmesch/jsaction.git
  branch = mesch-org
[submodule "vnd/rules_closure"]
  path = vnd/rules_closure
  url = git@github.com:gmesch/rules_closure.git
  branch = mesch-org
